body {
  padding-top: 40px;
  margin: 0px 30px;
  background: #ECECEC;
  color: #575353;
  font-family: 'Open Sans', sans-serif;
}

.no-styles-list {
    list-style-type: none;
    padding:0;
    margin:0;
}

.starter-template {
  padding: 40px 15px;
}

.nav-text {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: white !important;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

.popover ul {
    -webkit-padding-start: 0;
}

.modal-dialog {
    display: table;
    max-width: 100%;
}

.question-series  {
    background-color: ghostwhite;
}

.question-series-list-bar {
    background-color: #575353;
    color: ghostwhite;
    font-size: 1.4em;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.error {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #ac2925;
    background-color: #e4b9c0;
    color: #ac2925;
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
}

table td {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 20px;
    border-top: 1px solid #dddddd;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
    padding-right: 0;
}

table tr th {
    padding: 5px;
}

.listing-s {
    border-style: solid;
    border-color: lightskyblue;
    border-width: 2px;
    margin: 10px 0 10px 0;
    padding: 10px;
    overflow: hidden;
}

.listing-s-header {
    font-size: 1.3em;
}

.listing-buttons {
    float: right;
}

.slot-list-article {
    border-color: #3c763d;
    border-style: solid;
    border-width: 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 10px 0;
    padding: 5px;
    display: flex;
}

.slot-list-content {
    width: 100%;
    padding: 5px;
}

.slot-list-image {
    float: left;
}

.slot-list-button {
    float: right;
}

.slot-list-button form {
    display: inline;
}

.slot-list-title {
    font-size: 1.4em;
    color: #3c763d;
}

.slot-item-title {
    
}

.slot-item-link {
    text-decoration: none;
    font-weight: 700;
    color: #3c763d;
}

.parentset-header {
    background-color: #67b168;
    color: #fff; 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: auto;
    margin: 5px 0;
}

.subset-header {
    background-color: #c1e2b3;
}

.set-title {
    font-size: 1.2em;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 5px;
    padding: 8px;    
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.set-button {
    float: right;
    position: relative;
    margin: 5px;
}

.set-button form {
    display: inline;
}

.item-listing {
    border: #3c763d solid 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
    margin: 10px 0;
}

/*.item-buttons form {
    display: inline;
}*/

.thumbnail {
    margin-bottom: 5px;
}


.item-image {
    margin: 10px 0;
}

.image-row {
    display: flex;
    margin: 5px 0;
}

.li-submit {
    background: transparent;
    border: none;
    color: #333;
    font-weight: 400;
    line-height: 1.42857143;
    padding: 3px 20px;
    display: block;
    white-space: nowrap;
    clear: both;
    width: 100%;
    text-align: left;
}

.li-submit:hover {
    background: #c9302c;
    color: #fff;
}


// ---------- bootstrap-typeahead style fixes ----------------

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

// ------------- bootstrap stylefixes end ------------------------
