<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Pääsyvirhe</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            
            <h1>Pääsyvirhe</h1>
            <h3>Oikeutesi eivät riitä operaation suorittamiseen tai kohdetta ei ole olemassa</h3>            
        </div>
    </body>
</html>
