<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Pandora - kokoelma</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <h1 th:text="${collectibleCollection.name}" class="collection-title">Kokoelman nimi</h1>
            <a href="#" th:href="@{/setit/lisaa(collectibleCollectionId=${collectibleCollection.id})}" class="btn btn-warning btn-sm">Lisää uusi setti</a>
            <section th:each="collectibleSet : ${collectibleCollection.collectibleSets}">
                <div th:replace="collectibleset :: collectibleSet (collectibleSet=${collectibleSet})"></div>
            </section>
        </div>
        <th:block th:fragment="pagescript">
            <script src="/static/js/delete-confirm-modal.js"></script>
        </th:block>
    </body>

</html>