<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pandora - setti</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="collectibleSet (collectibleSet)">
            <h1 th:text="${collectibleSet.name}">Setin nimi</h1>
			
            <a href="#" th:href="@{/slotit/lisaa(collectibleSetId=${collectibleSet.id})}" class="btn btn-default">Lisää slotti</a>
			
            <div th:each="childSet : ${collectibleSet.childSets}">
                <div th:replace="collectibleset :: collectibleSet (collectibleSet=${childSet})"></div>
            </div>

            <article class="slot-article" th:each="collectibleSlot : ${collectibleSet.collectibleSlots}">
                <span class="slot-header" th:text="${collectibleSlot.name}"></span>
                <div class="slot-buttons">
                    <a href="#" th:href="@{/slotit/{id}(id=${collectibleSlot.id})}" class="btn btn-primary">Näytä</a>
                    <a href="#" th:href="@{/kohteet/lisaa(collectibleSlotId=${collectibleSlot.id})}" class="btn btn-primary">Lisää kohde</a>
                    <a href="#" th:href="@{/slotit/{id}/muokkaa(id=${collectibleSlot.id})}" class="btn btn-primary">Muokkaa</a>
                    <form class="form-inline" action="#" th:action="@{/slotit/{id}/poista(id=${collectibleSlot.id})}" method="post">
                        <input type="submit" value="Poista" class="btn btn-danger" />
                    </form>
                </div>
                <div class="slot-list-image">
                    <img th:if="${#lists.isEmpty(collectibleSlot.collectibleItems)}" th:src="@{/kuvat/{id}(id=${collectibleSlot.mainImageId})}"/>
                    <div th:if="${not #lists.isEmpty(collectibleSlot.collectibleItems)}">
                        <img th:src="@{/kuvat/{id}(id=collectibleSlot.collectibleItems[0].mainImageId)}"/>
                    </div>		
                </div>
                <div class="slot-list-content">
                    <p th:text="${collectibleSlot.description}"></p>
                    <p th:each="collectibleItem : ${collectibleSlot.collectibleItems}">
                        <a href="#" th:href="@{/kohteet/{id}(id=${collectibleItem.id})}"> 
                            <span th:text="${collectibleItem.acquisitionDate} + ' ' + ${collectibleItem.acquisitionPrice}"></span>
                        </a>
                    </p>    
                </div>
            </article>
        </div>
    </body>

</html>