<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pandora - setti</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="collectibleSet (collectibleSet, parentSetNames)">
            <div th:class="${collectibleSet.parentSet} == null ? parentset-header : subset-header">
                <span th:text="|${parentSetNames}${collectibleSet.name}|" class="set-title">Setin nimi</span>			
                <!--<a href="#" th:href="@{/slotit/lisaa(collectibleSetId=${collectibleSet.id})}" class="btn btn-default set-button">Lisää slotti</a>-->
                <div class="dropdown slot-list-button">
                    <button class="btn btn-warning dropdown-toggle set-button" type="button" data-toggle="dropdown">
                        Toiminnot
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/slotit/lisaa(collectibleSetId=${collectibleSet.id})}">Lisää slotti</a></li>
                        <li><a href="#" 
                               th:href="@{/setit/lisaa(parentSetId=${collectibleSet.id},
                               collectibleCollectionId=${collectibleSet.collectibleCollection.id})}">Lisää alasetti</a></li>
                        <li><a href="#" th:href="@{/setit/{id}/muokkaa(id=${collectibleSet.id})}">Muokkaa</a></li>
                        <li>
                            <form class="form-inline" action="#" th:action="@{/setit/{id}/poista(id=${collectibleSet.id})}" method="post">
                                <input type="submit" value="Poista" class="li-submit confirm-delete-modal" />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <article class="slot-list-article" th:each="collectibleSlot : ${collectibleSet.collectibleSlots}">
                <div class="slot-list-image">
                    <a href="#" th:href="@{/slotit/{id}(id=${collectibleSlot.id})}">
                        <img th:if="${#lists.isEmpty(collectibleSlot.collectibleItems)}" th:src="@{/kuvat/{id}(id=${collectibleSlot.mainImageId})}"/>
                        <img th:if="${not #lists.isEmpty(collectibleSlot.collectibleItems)}" th:src="@{/kuvat/{id}(id=${collectibleSlot.collectibleItems[0].mainImageId})}"/>
                    </a>
                </div>
                <div class="slot-list-content">
                    
                    <div class="slot-list-header">
                        <a href="#" th:href="@{/slotit/{id}(id=${collectibleSlot.id})}">
                            <span class="slot-list-title" th:text="${collectibleSlot.name}"></span>
                        </a>
                        <div class="dropdown slot-list-button">
                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                Toiminnot
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/slotit/{id}(id=${collectibleSlot.id})}">Näytä</a></li>
                                <li><a href="#" th:href="@{/kohteet/lisaa(collectibleSlotId=${collectibleSlot.id})}">Lisää kohde</a></li>
                                <li><a href="#" th:href="@{/havainnot/lisaa(collectibleSlotId=${collectibleSlot.id})}">Lisää havainto</a></li>
                                <li><a href="#" th:href="@{/slotit/{id}/muokkaa(id=${collectibleSlot.id})}">Muokkaa</a></li>
                                <li>
                                    <form class="form-inline" action="#" th:action="@{/slotit/{id}/poista(id=${collectibleSlot.id})}" method="post">
                                        <input type="submit" value="Poista" class="li-submit confirm-delete-modal" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="slot-list-body">
                        <p th:text="${collectibleSlot.description}"></p>
                        <div class="slot-item-title">Kohteet</div>
                        <div th:each="collectibleItem : ${collectibleSlot.collectibleItems}">                            
                            <a href="#" th:href="@{/kohteet/{id}/muokkaa(id=${collectibleItem.id})}" class="slot-item-link"> 
                                <span th:text="|${#dates.format(collectibleItem.acquisitionDate, 'd.M.yyyy')} 
                                                 ${#numbers.formatDecimal(collectibleItem.acquisitionPrice, 1, 2, 'COMMA')} eur|"></span>
                            </a>
                        </div>    
                    </div>
                </div>

            </article>            
            			
            <div th:each="childSet : ${collectibleSet.childSets}">
                <div th:replace="collectibleset :: collectibleSet (collectibleSet=${childSet}, 
                     parentSetNames=${parentSetNames}+${collectibleSet.name}+' / ')"></div>
            </div>
            
            <div class="modal fade" id="delete-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <h3>Oletko varma että haluat poistaa tiedon?</h3>
                        <p>Samalla poistetaan kaikki kyseiseen tietoon liitetyt tiedot ja kuvat.</p>
                        <div>
                            <button class="btn btn-danger modal-delete">Kyllä</button>
                            <button class="btn btn-default modal-cancel">Peruuta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
    </body>

</html>