<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Pandora - slotti</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <h1>
                <span th:text="${collectibleSlot.name}"></span> 
                <small th:text="${collectibleSlot.collectibleSet.name}"></small>
            </h1>
            <div class="dropdown set-button">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                    Toiminnot
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" th:href="@{/slotit/{id}/muokkaa(id=${collectibleSlot.id})}">Muokkaa</a></li>
                    <li>
                        <form class="form-inline" action="#" 
                              th:action="@{/slotit/{id}/poista(id=${collectibleSlot.id})}" method="post">
                            <input type="submit" value="Poista" class="li-submit confirm-delete-modal" />
                        </form>
                    </li>
                </ul>
            </div>
            <a href="#" th:href="@{/kokoelmat/{id}(id=${collectibleSlot.collectibleSet.collectibleCollection.id})}">
                Kokoelmaan</a>
            <p th:text="${collectibleSlot.description}"></p>

            <div class="parentset-header">
                <span class="set-title">Kokoelman kohteet</span>
                <a href="#" th:href="@{/kohteet/lisaa(collectibleSlotId=${collectibleSlot.id})}" class="btn btn-default set-button">
                    Lisää kohde
                </a>
            </div>            
            <section th:each="collectibleItem : ${collectibleSlot.collectibleItems}">
                <article class="item-listing">
                    <div class="slot-list-content">
                        <div class="slot-list-header">
                            <span class="slot-list-title" th:text="|${#dates.format(collectibleItem.acquisitionDate, 'd.M.yyyy')} 
                                        ${#numbers.formatDecimal(collectibleItem.acquisitionPrice, 1, 2, 'COMMA')} eur|">
                                Kohteen hankintapvm ja -hinta
                            </span>                        
                        
                            <div class="dropdown item-button slot-list-button">
                                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                    Toiminnot
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" th:href="@{/kuvat/lisaa(collectibleItemId=${collectibleItem.id})}">
                                            Lisää kuva
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" th:href="@{/kohteet/{id}/muokkaa(id=${collectibleItem.id})}">
                                            Muokkaa
                                        </a>
                                    </li>
                                    <li>
                                        <form class="form-inline" action="#" 
                                              th:action="@{/kohteet/{id}/poista(id=${collectibleItem.id})}" method="post">
                                            <input type="submit" value="Poista" class="li-submit confirm-delete-modal" />
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="slot-list-body">
                            <p th:text="${collectibleItem.comment}">Kommentti</p>
                        </div>

                        <div class="image-row">
                            <div th:each="storedImage : ${collectibleItem.storedImages}" 
                                 th:object="${storedImage}" th:if="${storedImage.isThumbnail}" class="item-image">
                                <div class="thumbnail">
                                    <img src="#" th:src="@{/kuvat/{id}(id=${storedImage.id})}" 
                                         data-th-attr="data-main-image-id=${storedImage.mainImage.id}" height="200" class="thumbnail-image"/>       
                                    <div class="caption">
                                        <p th:text="${storedImage.caption}"></p>
                                    </div>
                                    <form class="form-inline" action="#" 
                                          th:action="@{/kuvat/{id}/poista(id=${storedImage.id})}" method="post">
                                        <input type="submit" value="Poista" class="btn btn-danger btn-xs confirm-delete-modal" />
                                    </form>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            
            <div class="parentset-header">
                <span class="set-title">Havainnot</span>
                <a href="#" th:href="@{/havainnot/lisaa(collectibleSlotId=${collectibleSlot.id})}" class="btn btn-default set-button">
                    Lisää havainto
                </a>
            </div>            
            <div th:each="itemSighting : ${collectibleSlot.itemSightings}">
                <a href="#" th:href="@{/havainnot/{id}/muokkaa(id=${itemSighting.id})}">
                    <span th:text="|${itemSighting.salesVenue.name} 
                                    ${#dates.format(itemSighting.sightingDate, 'd.M.yyyy')} 
                                    ${#numbers.formatDecimal(itemSighting.price, 1, 2, 'COMMA')} eur|"></span>
                </a>
            </div>
                        
            <div class="parentset-header">
                <span class="set-title">Referenssikuvat</span>
                <a href="#" th:href="@{/kuvat/lisaa(collectibleSlotId=${collectibleSlot.id})}" class="btn btn-default set-button">
                    Lisää kuva
                </a>
            </div>            
            <div class="image-row">
                <div th:each="storedImage : ${collectibleSlot.storedImages}"
                     th:object="${storedImage}" th:if="${storedImage.isThumbnail}" class="item-image">
                    <div class="thumbnail">
                        <img src="#" th:src="@{/kuvat/{id}(id=${storedImage.id})}" 
                             data-th-attr="data-main-image-id=${storedImage.mainImage.id}" height="200" class="thumbnail-image"/>
                        <div class="caption">
                            <p th:text="${storedImage.caption}"></p>
                        </div>
                        <form class="form-inline" action="#" 
                              th:action="@{/kuvat/{id}/poista(id=${storedImage.id})}" method="post">
                            <input type="submit" value="Poista" class="btn btn-danger btn-xs confirm-delete-modal" />
                        </form>                        
                    </div>                    
                </div>
            </div>
                    
            <div id="large-image-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p id="large-image-header"></p>
                        </div>
                        <div class="modal-body">
                            <img id="large-image" src="" />
                            <p id="large-image-caption"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="delete-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <h3>Oletko varma että haluat poistaa tiedon?</h3>
                        <p>Samalla poistetaan kaikki tähän liitetyt tiedot.</p>
                        <div>
                            <button class="btn btn-danger modal-delete">Kyllä</button>
                            <button class="btn btn-default modal-cancel">Peruuta</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>       

        <th:block th:fragment="pagescript">
            <script src="/static/js/image-modal.js"></script>
            <script src="/static/js/delete-confirm-modal.js"></script>
        </th:block>        
    </body>

</html>