<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pandora - setti</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="collectibleSet (collectibleSet)">
            <div th:class="${collectibleSet.parentSet} == null ? parentset-header : subset-header">
                <span th:text="${collectibleSet.name}" class="set-title">Setin nimi</span>			
                <a href="#" th:href="@{/slotit/lisaa(collectibleSetId=${collectibleSet.id})}" class="btn btn-default set-button">Lisää slotti</a>
            </div>
			
            <div th:each="childSet : ${collectibleSet.childSets}">
                <div th:replace="collectibleset :: collectibleSet (collectibleSet=${childSet})"></div>
            </div>

            <article class="slot-list-article" th:each="collectibleSlot : ${collectibleSet.collectibleSlots}">
                <div class="slot-list-image">
                    <a href="#" th:href="@{/slotit/{id}(id=${collectibleSlot.id})}">
                        <img th:if="${#lists.isEmpty(collectibleSlot.collectibleItems)}" th:src="@{/kuvat/{id}(id=${collectibleSlot.mainImageId})}"/>
                        <img th:if="${not #lists.isEmpty(collectibleSlot.collectibleItems)}" th:src="@{/kuvat/{id}(id=${collectibleSlot.collectibleItems[0].mainImageId})}"/>
                    </a>
                </div>
                <div class="slot-list-content">
                    
                    <div class="slot-list-header">
                        <a href="#" th:href="@{/slotit/{id}(id=${collectibleSlot.id})}">
                            <span class="slot-list-title" th:text="${collectibleSlot.name}"></span>
                        </a>
                        <div class="dropdown slot-list-button">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Toiminnot
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/slotit/{id}(id=${collectibleSlot.id})}">Näytä</a></li>
                                <li><a href="#" th:href="@{/kohteet/lisaa(collectibleSlotId=${collectibleSlot.id})}">Lisää kohde</a></li>
                                <li><a href="#" th:href="@{/slotit/{id}/muokkaa(id=${collectibleSlot.id})}">Muokkaa</a></li>
                                <li>
                                    <form class="form-inline" action="#" th:action="@{/slotit/{id}/poista(id=${collectibleSlot.id})}" method="post">
                                        <input type="submit" value="Poista" class="li-submit" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="slot-list-body">
                        <p th:text="${collectibleSlot.description}"></p>
                        <div th:each="collectibleItem : ${collectibleSlot.collectibleItems}">
                            <div class="slot-item-title">Kohteet</div>
                            <a href="#" th:href="@{/kohteet/{id}(id=${collectibleItem.id})}" class="slot-item-link"> 
                                <span th:text="|${#dates.format(collectibleItem.acquisitionDate, 'd.M.yyyy')} 
                                                 ${#numbers.formatDecimal(collectibleItem.acquisitionPrice, 1, 2, 'COMMA')} eur|"></span>
                            </a>
                        </div>    
                    </div>
                </div>

            </article>
        </div>
        
    </body>

</html>