<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Pandora - muokkaa kohdehavaintoa</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <h1>Muokkaa kohdehavaintoa</h1>
            <h2 th:text="|${itemSighting.collectibleSlot.name} ${itemSighting.collectibleSlot.collectibleSet.name}|"></h2>
            <form id="itemSightingForm" role="form" action="#" th:action="@{/havainnot/{id}/muokkaa(id=${itemSighting.id})}" th:object="${itemSighting}" method="post">
                <input type="hidden" id="collectibleSlot" name="collectibleSlot" th:value="${itemSighting.collectibleSlot.id}" />
                
                <div class="form-group">
                    <label class="control-label" for="salesVenue">Markkina</label>
                    <select class="form-control" id="salesVenue" name="salesVenue">
                        <option th:each="salesVenue : ${salesVenues}"
                                th:text="${salesVenue.name}"
                                th:value="${salesVenue.id}"
                                th:selected="${itemSighting.salesVenue != null} ? ${itemSighting.salesVenue.id == salesVenue.id} : false"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('salesVenue')}" th:errors="*{salesVenue}">virheviesti</p>
                </div>
                <div class="form-group">
                    <label for="sightingDate">Pvm</label>
                    <input type="text" id="sightingDate" name="sightingDate" class="form-control dateinfo" 
                           th:value="${itemSighting.sightingDate == null ? null : #dates.format(itemSighting.sightingDate, 'dd.MM.yyyy')}"/>
                    <p th:if="${#fields.hasErrors('sightingDate')}" th:errors="*{sightingDate}">virheviesti</p>
                </div>
                <div class="form-group">
                    <label for="price">Hinta</label>
                    <input type="number" id="price" name="price" class="form-control" min="0" step="0.01"
                           th:value="${itemSighting.price}"/>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">virheviesti</p>
                </div>

                <input type="submit" value="Tallenna" class="btn btn-warning" />
                <a th:href="@{/slotit/{id}(id=${itemSighting.collectibleSlot.id})}" class="btn btn-default">Peruuta</a>
            </form>
            <form class="form-inline" action="#" th:action="@{/havainnot/{id}/poista(id=${itemSighting.id})}" method="post">
                <input type="submit" value="Poista" class="btn btn-danger confirm-delete-modal" />
            </form>
            
            <div class="parentset-header">
                <span class="set-title">Kuvat</span>
                <a href="#" th:href="@{/kuvat/lisaa(itemSightingId=${itemSighting.id})}" class="btn btn-default set-button">
                    Lisää kuva
                </a>
            </div>
            <div class="image-row">
                <div th:each="storedImage : ${itemSighting.storedImages}"
                     th:object="${storedImage}" th:if="${storedImage.isThumbnail}" class="item-image">
                    <div class="thumbnail">
                        <img src="#" th:src="@{/kuvat/{id}(id=${storedImage.id})}" 
                             data-th-attr="data-main-image-id=${storedImage.mainImage.id}" height="200" class="thumbnail-image"/>
                        <div class="caption">
                            <p th:text="${storedImage.caption}"></p>
                        </div>
                        <form class="form-inline" action="#" 
                              th:action="@{/kuvat/{id}/poista(id=${storedImage.id})}" method="post">
                            <input type="submit" value="Poista" class="btn btn-danger btn-xs confirm-delete-modal" />
                        </form>                        
                    </div>                    
                </div>
            </div>
            
            <div id="large-image-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p id="large-image-header"></p>
                        </div>
                        <div class="modal-body">
                            <img id="large-image" src="" />
                            <p id="large-image-caption"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="delete-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <h3>Oletko varma että haluat poistaa havainnon?</h3>
                        <p>Samalla poistetaan kaikki havaintoon liittyvät kuvat.</p>
                        <div>
                            <button class="btn btn-danger modal-delete">Kyllä</button>
                            <button class="btn btn-default modal-cancel">Peruuta</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <th:block th:fragment="pagescript">
            <script src="/static/js/image-modal.js"></script>
            <script src="/static/js/delete-confirm-modal.js"></script>
        </th:block>  
    </body>

</html>