<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Avaa Pandora</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            
            <h1>Avaa Pandora</h1>
            <p th:if="${loginError}">Käyttäjätunnus tai salasana väärin</p>
            <form th:action="@{/j_spring_security_check}" method="post">
                <div class="form-group">
                    <label for="j_username">Käyttäjätunnus</label>
                    <input type="text" id="j_username" name="j_username" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="j_password">Salasana</label>
                    <input type="password" id="j_password" name="j_password" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Kirjaudu"/>
                </div>
            </form>
            
        </div>
    </body>
</html>
