<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Pandora - markkinan lisääminen</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <h1>Lisää uusi markkina</h1>
            <form id="salesVenueForm" role="form" action="#" th:action="@{/markkinat/lisaa}" th:object="${salesVenue}" method="post">
                <div class="form-group">
                    <label for="name">Nimi</label>
                    <input type="text" id="name" name="name" class="form-control" />
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">virheviesti</p>
                </div>

                <input type="submit" value="Tallenna" class="btn btn-warning" />
                <a th:href="@{/markkinat}" class="btn btn-default">Peruuta</a>
            </form>
        </div>
    </body>

</html>